<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cCon" connectionString="Data Source=SQL5059.site4now.net;Initial Catalog=DB_9C7990_LeaderPeople;User Id=DB_9C7990_LeaderPeople_admin;Password=LeaderPeople.01;" />
	</connectionStrings>
	<appSettings>
		<add key="ftpServerTo" value="ftp://win8225.site4now.net/" />
		<add key="ftpUserNameTo" value="leaderpeopleftp" />
		<add key="ftpPasswordTo" value="LeaderPeopleFTP.01" />
		<add key="downloadPath" value="C:\inetpub\wwwroot\APLICATIONFTPSKIPPER\" />
		<add key="DeleteAfterDownload" value="true" />
		<add key="ConteoArchivos" value="SELECT COUNT(*) FROM Attachment WHERE CreatedDT BETWEEN @inicio AND @FIN AND BaseUrl IS NULL"/>
		
		<add key="userEmail" value="desi56677@gmail.com"/>
		<add key="passEmail" value="veow euow xmnl cefa"/>
		<add key="smtpClient" value="smtp.gmail.com"/>
		<add key="port" value="587"/>
		<add key="destinations" value ="bartolocastro@gmail.com;it@lpcorp.com.mx"/>

		<add key="Consultar" value="SELECT * FROM attachment WHERE CreatedDt BETWEEN @inicio AND @fin AND BaseUrl IS NULL;"/>
		<add key="Logs" value="C:\inetpub\wwwroot\APLICATIONFTPSKIPPER\Logs\FTPMigration\log-.txt"/>
		<add key="DebugMode" value="false"/>
		<add key ="TestMode" value ="false"/>
		<add key="HoraEjecucion" value="06:00" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>